<header id="page-topbar">
           <div class="navbar-header">

                <div class="d-flex align-items-left">
                    <button type="button" class="btn btn-sm mr-2 d-lg-none px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <div class="dropdown d-none d-sm-inline-block">
                        <button type="button" class="btn header-item waves-effect" aria-expanded="false">
                            <i class="text-black-25"></i> Designed By —— 咱们小组
<!--                        <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>-->
                        </button>

                    </div>
                </div>

               <div class="d-flex align-content-between">

                    <h1 class="text-black-50"> 书 籍 推 荐 数 据 分 析 平 台 </h1>

               </div>

                <div class="d-flex align-items-center">


                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<!--                        <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg" alt="咱们小组">-->
                            <img src="/static/assets/images/users/Paimoncartoo.png" class="rounded-circle avatar-sm">
                            <span class="d-none d-sm-inline-block ml-1">项目组成员</span>
                            <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                                <span>苏童真智</span>
                                <span>
                                    <span class="badge badge-pill badge-soft-primary">项目组长</span>
                                </span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                                <span>李宇翔</span>
                                <span>
                                    <span class="badge badge-pill badge-soft-danger">@非指</span>
                                </span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                                <span>董文娟</span>
                                <span>
                                    <span class="badge badge-pill badge-soft-danger">@湘</span>
                                </span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                                <span>刘洋君</span>
                                <span>
                                    <span class="badge badge-pill badge-soft-danger">@柿子</span>
                                </span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                                <span>陈禹馨</span>
                                <span>
                                    <span class="badge badge-pill badge-soft-danger">@Flechazo</span>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </header>