<div class="vertical-menu">

            <div data-simplebar class="h-100">

                <div class="navbar-brand-box">
                   <h3>书籍推荐平台</h3>
                </div>

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">系统目录</li>

                        <li>
                            <a href="/main" class="waves-effect"><i class='bx bx-home-smile'></i><span class="badge badge-pill badge-primary float-right">3</span><span>后台首页</span></a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-cookie"></i><span>书籍分类</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="/joblist">医学</a></li>
                                <li><a href="/joblist2">小说</a></li>
                                <li><a href="/joblist3">艺术</a></li>
                                <li><a href="/joblist4">历史</a></li>
                                <li><a href="/joblist5">心理学</a></li>
                                <li><a href="/joblist6">法律</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="bx bx-table"></i><span>系统管理</span></a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="tables-basic.html">用户管理</a></li>
                                <li><a href="tables-datatables.html">角色管理</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>